body {
  font-family: sans-serif;
}

.arrow {
  height: 50px;
  width: 50px;
  float: left;
  margin: 250px 20px 20px 20px;
  cursor: pointer;
}

.circle {
  height: 5px;
  width: 5px;
  border-radius: 5px;
  background: black;
  margin: 8px;
  display: inline-flex;
}
